  
      .body{transition: opacity ease-in 0.2s;}
      .body [unersolved]{opacity: 0; display: blocko;overflow: hidden; position: relative;}
    


    
      body{
        background-color: rgb(25,25,25);
        color:white;
        font-family: Arial;
      }
      .title{
        font-size: 30px;
        font-weight: bold ;
      }
      .move-icon{
        

        height: 50px;
      }
      .move-button{
        background-color:transparent;
        width: 120px;
        border-radius: 60px;
        border: 3px solid white;
        height: 120px;
        margin-right: 10px;
        cursor: pointer;

      }
    